
<ion-content>
  <!-- <h1 style="text-align:center" (click)="print()">Sell List for eBay</h1> -->
  <div class="title">
    <h1 style="text-align:center">Sell List for</h1>
  </div>
  
<div id="banner">
    <img
      src='../../assets/1280px-EBay_logo.svg.png' height="30" routerLink="/home/tabs/tab3/posted-list"/>
  </div>

  <ion-buttons class="center">
    <ion-button fill="solid" (click)="sellAll()">Sell All</ion-button>
    <ion-button fill="solid " (click)="reset()">Keep All</ion-button>
    <ion-button fill="solid" (click)="sell()">Sell Selected</ion-button>
    <!-- <ion-button fill="solid" routerLink="/sell-on-ebay" (click)="sell()">Items posted on eBay</ion-button> -->
  </ion-buttons>


  <ion-grid>
    <ion-row class="ion-align-items-start" *ngFor="let clothing of listArr">
      <ion-col>
        <!-- clothing image -->
        <ion-label>
          <ion-img class="displayed" [src]="clothing.imageUrl"></ion-img>
        </ion-label>
      </ion-col>
      <!-- clothing stats -->
      <ion-col col-6 offset-3 text-center>
        <ion-list class="mid">
          <ion-radio-group>
            <ion-item>
              <ion-label>Keep</ion-label>
              <ion-radio slot="start" (ionSelect)="radioValueSellOrKeep(clothing.id_clothing_item, 0, clothing)" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Sell</ion-label>
              <ion-radio slot="start" (ionSelect)="radioValueSellOrKeep(clothing.id_clothing_item, 1, clothing)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
