
<ion-content>
  <h1 style="text-align:center" (click)="print()">Sell List for eBay</h1>
    <ion-button (click)="sellAll()">Sell All</ion-button>
    <ion-button (click)="reset()">Keep All</ion-button>
    <ion-button (click)="sell()">Sell Selected</ion-button>



  <ion-grid>
    <ion-row class="ion-align-items-start" *ngFor="let clothing of listArr">
      <ion-col>
        <!-- clothing image -->
        <ion-label>
          <ion-img class="displayed" [src]="clothing.imageUrl"></ion-img>
        </ion-label>
      </ion-col>
      <!-- clothing stats -->
      <ion-col>
        <ion-list>
          <ion-radio-group>
            <ion-item>
              <ion-label>Keep</ion-label>
              <ion-radio slot="start" (ionSelect)="radioValueSellOrKeep(clothing.id_clothing_item, 0, clothing)" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Sell</ion-label>
              <ion-radio slot="start" (ionSelect)="radioValueSellOrKeep(clothing.id_clothing_item, 1, clothing)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
