// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.my-custom-modal-css .modal-wrapper {
  position: absolute; 
  display: block;
  border-radius: 25px;  
  background: transparent; 
  // height: 40%;
  width: 90%;
  height: 362px;
}
ion-button.hov.button.button-block.button-solid {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 600;
  letter-spacing: .7px;
}
ion-list {
  contain: unset; 
}
.list-ios {
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-bottom: 0px;
  display: grid;
  align-items: center;
  grid-template-rows: 62px 62px 62px 62px;
}
ion-item-divider {
  // background-image: linear-gradient(to bottom, #b2aeb0,white);
  background: #a9ced5;
}
.toolbar-container {
  background: #b2aeb0;
}
ion-tab-button#tab-button-tab1,
ion-tab-button#tab-button-tab2,
ion-tab-button#tab-button-tab3,
ion-tab-button#tab-button-tab4,
ion-tab-button#tab-button-tab5 {
  background-image: linear-gradient(to top, #b2aeb0, white);
}

.customIcons{
  color: white;
}

.delete{
  background-color: #d11a1a;
}

.test{
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-right: 6px;
}

.tab5Labs{
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 6px;
  padding-right: 6px;
}



// ion-radio {
//   // margin: 0;
//   // padding-right: 10px;
//   // padding-left: 10px;
// }