.center{
  // vertical-align: baseline;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
}

.input{
  --background: #E6E3D7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 93%;
  padding-left: 6px;
  font-size: 18px;
}

.tab3SellLabs{
  padding-left: 6px;
  font-weight: bold;
}

.tab3SellButton{
  padding-top: 10px;
  padding-right: 6px;
  font-size: 20px;
  float: right;
} 

.light{
  font-weight: lighter;
  font-size: 18px;
}