<ion-content>
  <!-- <img [src]="currentImage" *ngIf="currentImage"> -->

  <div>Upload Your Closet!</div>

  <img src="assets/camera-tab2.png">

  <img [src]="uploadedImage" *ngIf="uploadedImage">
  <div></div>
  <div></div>
  <ion-fab vertical="bottom">
    <ion-row>
      <ion-col>
        <ion-fab-button routerLink="/home/tabs/tab2" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button routerLink="/home/tabs/tab2" (click)="upload()">
          <ion-icon name="cloud"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-fab>
  <!-- Test Button -->
  <!-- <ion-fab-button (click)="sendToCloud()">
      <ion-icon name="shirt"></ion-icon>
    </ion-fab-button> -->
</ion-content>
