<ion-content>
  <ion-card-title>Attributes</ion-card-title>
  <div>
    <ion-button #comfortable [color]="buttonColor" (click)="attributeItem('long')">Long</ion-button>
    <ion-button #heavy [color]="buttonColor" (click)="attributeItem('short')">Short</ion-button>
    <ion-button #tight [color]="buttonColor" (click)="attributeItem('light')">Light</ion-button>
    <ion-button #short [color]="buttonColor" (click)="attributeItem('heavy')">Heavy</ion-button>
    <ion-button #long [color]="buttonColor" (click)="attributeItem('tight')">Tight</ion-button>
    <ion-button #basic [color]="buttonColor" (click)="attributeItem('loose')">Loose</ion-button>
    <ion-button #loose [color]="buttonColor" (click)="attributeItem('comfortable')">Comfortable</ion-button>
    <ion-button #light [color]="buttonColor" (click)="attributeItem('basic')">Basic</ion-button>
    <ion-button #solid [color]="buttonColor" (click)="attributeItem('shiny')">Shiny</ion-button>
    <ion-button #patterned [color]="buttonColor" (click)="attributeItem('solid')">Solid</ion-button>
    <ion-button #comfortable [color]="buttonColor" (click)="attributeItem('patterned')">Patterned</ion-button>


  </div>
  <h2>Color</h2>
  <div *ngFor="let color of topTwoColors" (click)="colorUserClicked(color)"><ion-button [color]="buttonColor" class="colorGenerated">{{color}}</ion-button></div>
  <div>- or -</div>
  <ion-item>
    <ion-label>Select Primary Color</ion-label>
    <ion-select cancelText="Cancel" okText="Done" [(ngModel)]="chosenColor" [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit" (ionChange)="colorUserClicked(chosenColor)">
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Blue</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Red</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">White</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Black</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Gray</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Yellow</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Green</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Tan</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Purple</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Pink</ion-select-option>
      <ion-select-option [disabled]="chosenColor==false && numberOfChecks>=checkBoxLimit">Orange</ion-select-option>
    </ion-select>
  </ion-item>
  <h2>Occasion</h2>
  <div>
    <ion-button [color]="buttonColor" (click)="occasionItem('1')">Casual</ion-button>
    <ion-button [color]="buttonColor" (click)="occasionItem('5')">Formal</ion-button>
    <ion-button [color]="buttonColor" (click)="occasionItem('2')">Business</ion-button>
    <ion-button [color]="buttonColor" (click)="occasionItem('4')">Going Out</ion-button>
    <ion-button [color]="buttonColor" (click)="occasionItem('3')">Athletic</ion-button>
  </div>
  <h2>Category</h2>
  <div *ngFor="let category of finished" (click)="categorySelected(category)">
    <ion-button [color]="ionicNamedColor" class="category">{{category}}</ion-button>
  </div>
  <div>- or -</div>
  <ion-item>
    <ion-label>Select One</ion-label>
    <ion-select multiple="false" cancelText="Cancel" okText="Done" [(ngModel)]="chosenCategory" (ionChange)="categorySelected(chosenCategory)">
      <ion-select-option value="2">Top</ion-select-option>
      <ion-select-option value="3">Bottom</ion-select-option>
      <ion-select-option value="1">One Piece</ion-select-option>
      <ion-select-option value="4">Outerware</ion-select-option>
      <ion-select-option value="6">Shoes</ion-select-option>
      <ion-select-option value="5">Accessories</ion-select-option>
    </ion-select>
  </ion-item>
  <div>
    <ion-card-title>Price</ion-card-title>
    <ion-item id="rounded">
      <ion-label fixed>$</ion-label>
      <ion-input type="text" [(ngModel)]="price" value=""></ion-input>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <img class="photoNoBackground" [src]="url" *ngIf="url">
</ion-content>

<!-- 67 routerLink="/home/tabs/tab2" -->