.modal-wrapper modal-wrapper-md sc-ion-modal-md{
  height: 50%;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#catOptions{
    text-align: center !important;
    // width: 100%;
}
