<ion-header>
  <ion-toolbar>
    <ion-title>
      Closet
    </ion-title>
    <!-- <ion-item ngFor="posts"></ion-item> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row card-group" > 
    <div class="col-4" *ngFor="let clothingItem of closetK">
      <div class="clothingItem">{{clothingItem.type}}</div>
      <img [src]="clothingItem.img" height="150">

    </div>
  </div>
</ion-content>

<!-- line 11/12 : *ngIf="(closet | async)" -->
<!-- <li *ngFor="let clothing-item of (closet | async)"></li> -->
<!-- *ngIf="clothingItem.img" -->
<!-- *ngIf="clothingItem.type" -->
