<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Closet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="closet">
    <ion-row>
      <ion-col id="test" size="6" (click)="presentModal(clothingItem.id_clothing_item, clothingItem.category); print(clothingItem)"
        *ngFor="let clothingItem of closet">
        <div class="clothingItem">{{clothingItem.category}}</div>
        <img class="displayed" [src]="clothingItem.imageUrl">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
