.modal-wrapper modal-wrapper-md sc-ion-modal-md{
  height: 50%;
}

// .displayed {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
// }

// #catOptions{
//     text-align: center !important;
//     // width: 100%;
// }
.toolbar-container {
  padding-top: 0% !important;
  padding-right: 0% !important;
  padding-left: 0% !important;
  padding-bottom: 0% !important;
}

.uploadedPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
}