#closeButton {
  float: right;
}

// .my-custom-modal-css .modal-wrapper {
//   height: 20%;
//   top: 80%;
//   position: absolute; 
//   display: block;  
// }

.sc-ion-modal-ios-h {
  height: 50%;
  top: 0;
  position: absolute; 
  display: block;  
}

.hov {
  cursor:pointer
}