#temp { 
  float:right;
  top: 15%;
}

#cond { 
  float:right;
}



.ion-page {
  height: 30%;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 5%;
  transform: translateX(450%);
}

.vertical-align {    
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
}


// @media not all and (min-height: 600px) and (min-width: 768px) {
//   ion-modal ion-backdrop {
//     visibility: hidden;
//   }
// }

// @media only screen and (min-height: 0px) and (min-width: 0px) {
//   .modal-wrapper {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }