<ion-header>
  <ion-toolbar color="tertiary">
    <ion-icon class="customIcons" name="settings" size="large" (click)="print()" routerLink="/home"></ion-icon>
      <div class="logo"><img src='../assets/OptiCloset-light-grey-logo.png' height="40" (click)="print()"></div>
    <!-- <ion-icon class="customIcons" id="cond" name={{this.conditions}} size="large"></ion-icon> -->
    <!-- <span class="customIcons" id="temp">{{this.temperature}}°</span> -->
      <div *ngIf="this.conditions; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <ion-icon class="customIcons" id="cond" name={{this.conditions}} size="large"></ion-icon>
      </ng-template>
      <ng-template #elseBlock>
        <ion-icon id="cond" class="customIcons" src="../../assets/fog_mist_icon.svg" size="large"></ion-icon>
      </ng-template>
      <span class="customIcons" id="temp">{{this.temperature}}°</span>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
        <ion-label>{{this.username}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-text>{{this.location}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
        eBay credentials
        <ion-icon class="blueIcons" name="checkmark-circle"></ion-icon>
      </ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content padding>

<!-- <ion-item-divider> -->

  <ion-item justify-content="center">
    <!-- <ion-label>Select time for your daily notifications</ion-label> -->
    <ion-datetime 
      [(ngModel)]="time" 
      displayFormat="h:mm A" 
      minuteValues="0,15,30,45" 
      placeholder="Select time for your daily notifications">
    </ion-datetime>
  </ion-item>
  <!-- <ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button> -->
  <ion-button expand="block" (click)="repeatingDaily()">Set up your daily notification</ion-button>
  <ion-button expand="block" (click)="getAll()">See your scheduled notification</ion-button>
  <ion-button expand="block" (click)="cancelNotifications()">Cancel notification</ion-button>
  <!-- <ion-button expand="block" (click)="printTime()">Get Time</ion-button> -->
  <ion-list>
    <ion-item *ngFor="let n of scheduled">
      <ion-label text-wrap>
        {{ n.id }} - {{ n.title }}
        <p>Trigger: {{ n.trigger }} </p>
        <p>Actions: {{ n.actions }} </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- </ion-item-divider> -->
</ion-content>
