#temp { 
  float:right;
  margin-top: 1%;
  font-size: x-large;
}

#cond { 
  float:right;
}

.ion-page {
  height: 30%;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 5%;
  transform: translateX(450%);
}


