.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 28% !important;
  }

  ion-col {
    text-align: center;
  }

  ion-img{
    max-height: 33.33% !important;
  }
//   .col{
// background: gray;
// border: think solid black;
// }
}