.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 33.33% !important;
    // border: thin solid black !important;
  }

  ion-col {
    text-align: center;
  }

  .images{
    max-height: 33% !important;
    // height: 33%;
    // max-width: 33%;
  }
//   .col{
// background: gray;
// border: think solid black;
// }
}

.uploadedPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
  max-height: 33% !important;
}