.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 33.33% !important;
    // border: thin solid black !important;
  }

  ion-col {
    text-align: center;
  }

//   .col{
// background: gray;
// border: think solid black;
// }
}