<ion-content>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-justify-content-center">

        <ion-col>
          <ion-item>
            <div *ngIf="!isLoading; else elseBlock">
              <div *ngIf="!top">
                You currently have no tops in your closet. Go add some!
              </div>
              <div *ngIf="top">
                <ion-img [src]="accessory.imageUrl"></ion-img>
              </div>
            </div>
            <ng-template #elseBlock>Loading</ng-template>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <div *ngIf="!isLoading; else elseBlock">
              <div *ngIf="!top">
                You currently have no tops in your closet. Go add some!
              </div>
              <div *ngIf="top">
                <ion-img [src]="top.imageUrl"></ion-img>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <div *ngIf="!isLoading; else elseBlock">
              <div *ngIf="!outerwear"> 
                You currently have no Outerwear in your closet. Go add some!
              </div>
              <div *ngIf="outerwear"> 
                <ion-img [src]="outerwear.imageUrl"></ion-img>
              </div>
            </div>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <div *ngIf="!isLoading; else elseBlock">
              <div *ngIf="!bottom">
                You currently have no bottoms in your closet. Go add some!
              </div>
              <div *ngIf="bottom">
                <ion-img [src]="bottom.imageUrl"></ion-img>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col>
          <ion-button color="secondary" (click)="presentToast()">{{outfitSelected ? 'Current Outfit' : 'Confirm Outfit'}}</ion-button>
        </ion-col>
        <ion-col>
          <ion-item>
            <div *ngIf="!isLoading && shoe; else elseBlock">
              <ion-img [src]="shoe.imageUrl"></ion-img>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
