#getStarted {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

ion-content.background{
    --background: url(../../assets/closet-background.jpg) 0 0/100% 100% no-repeat;
}