.thumb{
  height: 110px;
  width: 140px;
}

.list-ios {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  display: grid;
  align-items: center;
  grid-template-rows: 42px 42px;
  // line-height: 1
}

.uploadedPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
}