<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title>Currently posted for sale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-align-items-start" *ngFor="let item of list">
      <ion-col>
        <!-- clothing image -->
        <ion-label>
          <ion-img class="thumb" [src]="item.image"></ion-img>
        </ion-label>
      </ion-col>
      <!-- item stats -->
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Title: {{item.title}}</ion-label>
          </ion-item>
          <!-- <ion-item>
            <ion-label>Description: {{item.description}}</ion-label>
          </ion-item> -->
          <ion-item>
            <ion-label>Price: {{item.pricePosted}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
