<ion-content>
  <div>Create Your Packing List!</div>
    Where: <ion-input placeholder="Condition"></ion-input>
    Days:
    <ion-item>
      <ion-label>From</ion-label>
      <ion-datetime [(ngModel)]="startDate" (ionChange)="setFilter()" display-format="MMM  D YYYY" picker-format="MMMM D YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Until</ion-label>
      <ion-datetime [(ngModel)]="endDate" (ionChange)="setFilter()" display-format="MMM D YYYY" picker-format="MMMM D YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-align-items-start" *ngFor="let clothing of closet">
        <ion-col>
          <ion-label>
            <ion-img class="displayed" [src]="clothing.imageUrl"></ion-img>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

