<ion-content>
  <ion-radio-group>
    <!-- Sort title -->
    <ion-list-header>
      <ion-label class="test"(click)="retrieveItem()">
      Sort By
      </ion-label>
      <!-- <ion-label class="bigger"(click)="checkAndRestoreCloset()">
        See All
      </ion-label> -->
      <ion-button class="test" color="tertiary" (click)="resetFilter()">See all
      </ion-button>
    </ion-list-header>


    <!-- Sort methods -->
    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col class="ion-align-items-start">
          <ion-label class="tab5Labs">Least Worn</ion-label>
          <ion-radio (ionSelect)="sortCloset('least2Most')" checked></ion-radio>
        </ion-col>
        <ion-col offset='3'>
          <ion-label class="tab5Labs">Most Expensive</ion-label>
          <ion-radio item-left (ionSelect)="sortCloset('high2Low')" checked></ion-radio>
        </ion-col>
      </ion-row>
        <ion-row class="ion-align-items-start">
          <ion-col class="ion-align-items-start">
            <ion-label class="tab5Labs">Most Worn</ion-label>
            <ion-radio (ionSelect)="sortCloset('most2Least')"></ion-radio>
          </ion-col>
          <ion-col offset='3'>
            <ion-label class="tab5Labs">Least Expensive</ion-label>
            <ion-radio item-left (ionSelect)="sortCloset('low2High')"></ion-radio>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-radio-group>

  <!-- date picker title -->
  <!-- <ion-list-header> -->
    <!-- <ion-label (click)="resetFilter()">
      Reset Filters
    </ion-label> -->
  <!-- </ion-list-header> -->
  <!-- date picker -->
  <ion-item>
    <ion-label>Worn since</ion-label>
    <ion-datetime [(ngModel)]="startDate" (ionChange)="setFilter()" display-format="MMM  D YYYY"
      picker-format="MMMM D YYYY" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <!-- <ion-item>
    <ion-label>End Date</ion-label>
    <ion-datetime [(ngModel)]="endDate" (ionChange)="setFilter()" display-format="MMM D YYYY"
      picker-format="MMMM D YYYY" placeholder="Select Date"></ion-datetime>
  </ion-item> -->

  <!-- clothing item rendering -->
  <ion-grid>
    <ion-row class="ion-align-items-start" *ngFor="let clothing of closet">
      <ion-col >
        <!-- clothing image -->
        <ion-label>
          <ion-img class="displayed" [src]="clothing.imageUrl"></ion-img>
        </ion-label>
      </ion-col> 
        <!-- clothing stats -->
      <ion-col>
        <ion-list>
          <ion-item no-padding>
            <ion-label>Last Worn: {{clothing.lastUpdated}}</ion-label>
          </ion-item>
          <ion-item no-padding>
            <ion-label>Times Worn: {{clothing.count_worn}}</ion-label>
          </ion-item>
          <ion-item no-padding>
            <ion-label>Price: ${{clothing.price}}</ion-label>
          </ion-item>
          <ion-item no-padding>
            <ion-label>Price per Wear:$
              {{clothing.count_worn === 0 ? clothing.price : (clothing.price/clothing.count_worn).toFixed(2)}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>