<ion-content>
  <ion-item *ngFor="let clothing of closet">

    <ion-label>
      <ion-img [src]="clothing.imageUrl"></ion-img>
    </ion-label>

    <ion-list>
      <ion-item>
        <ion-label>Last Worn: {{clothing.lastUpdated}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Times Worn: {{clothing.count_worn}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price: {{clothing.price}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price per Wear: {{clothing.count_worn === 0 ? clothing.price : clothing.price/clothing.count_worn}}</ion-label>
      </ion-item>
    </ion-list>

  </ion-item>
</ion-content>