<ion-content>
    <ion-radio-group>
      <ion-list-header>
        Sort By
      </ion-list-header>
    
      <ion-item>
        <ion-label>Least to Most</ion-label>
        <ion-radio value="Least to Most"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Most to Least</ion-label>
        <ion-radio value="Most to Least"></ion-radio>
      </ion-item>
    </ion-radio-group>

  <ion-item *ngFor="let clothing of closet">

    <ion-label>
      <ion-img [src]="clothing.imageUrl"></ion-img>
    </ion-label>

    <ion-list>
      <ion-item>
        <ion-label>Last Worn: {{clothing.lastUpdated}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Times Worn: {{clothing.count_worn}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price: {{clothing.price}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price per Wear: {{clothing.count_worn === 0 ? clothing.price : clothing.price/clothing.count_worn}}</ion-label>
      </ion-item>
    </ion-list>

  </ion-item>
</ion-content>